/**
 * Meta Box Styling
 */

.wptalents_embed_remove_talent {
	opacity: 0;
	float: right;
	cursor: pointer;
	transition: opacity 0.3s;

	&:focus {
		opacity: 1;
	}
}

#wptalents_embed_search {
	width: 100%;
}

#wptalents_embed_talents li {
	margin-bottom: 0;
	cursor: move;
	overflow: hidden;
	padding: 5px 5px 5px 5px;
	line-height: 28px;
	transition: background-color 0.3s;

	&:hover {
		background: #efefef;

		.wptalents_embed_remove_talent {
			opacity: 1;
		}
	}
}